@import "../../shared/styles/forms";

:host {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-create-home-container {
    width: $form-width;
    top: -5%;
}

