// ----------
// Colors
// ----------
$pc-blue: rgb(45, 196, 238);
$pc-gray: rgb(100, 100, 100);
$pc-gray-dark: rgb(41, 41, 41);
$pc-gray-light: rgb(200, 200, 200);
$pc-white: rgb(255, 255, 255);

// ----------
// Navigation
// ----------
$nav-height: 5rem;


// ----------
// Forms
// ----------
$form-width: 28rem;

// ----------
// Padding
// ----------
$pd-small: 1rem;
$pd-medium: 2rem;
$pd-large: 4rem;

$pd-normal: $pd-medium;

$border-radius-sm: 0.2rem;

// -----------
// Breakpoints
// -----------
$screen-sm: 34rem;
$screen-md: 48rem;
$screen-lg: 62rem;
$screen-xl: 75rem;
$screen-breakpoints: (
    sm: $screen-sm,
    md: $screen-md,
    lg: $screen-lg,
    xl: $screen-xl
);
// Wrap content with appropriate media breakpoint:
@mixin media-breakpoint-up($name) {
    $bp-size: map_get($screen-breakpoints, $name);
    @if ($bp-size) {
        @media (min-width: $bp-size) {
            @content;
        }
    }
    @else {
        @content;
    }
}
