// ----------
// Colors
// ----------
$pc-blue: rgb(45, 196, 238);
$pc-gray: rgb(100, 100, 100);
$pc-gray-dark: rgb(41, 41, 41);
$pc-gray-light: rgb(200, 200, 200);
$pc-white: rgb(255, 255, 255);

// ----------
// Navigation
// ----------
$nav-height: 5rem;

// ----------
// Padding
// ----------
$pd-small: 1rem;
$pd-medium: 2rem;
$pd-large: 4rem;

$pd-normal: $pd-medium;

$border-radius-sm: 0.2rem;

// -----------
// Breakpoints
// -----------
$screen-breakpoints: (
    sm: 34em,
    md: 48em,
    lg: 62em,
    xl: 75em
);
// Wrap content with appropriate media breakpoint:
@mixin media-breakpoint-up($name) {
    $bp-size: map_get($screen-breakpoints, $name);
    @if ($bp-size) {
        @media (min-width: $bp-size) {
            @content;
        }
    }
    @else {
        @content;
    }
}
