@import "../constants";

.pc-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: $nav-height;
    padding: 0 $pd-small;

    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        padding: 0 $pd-medium;
    }
}

.pc-nav-left {
    align-self: flex-start;
    height: 100%;
}

.pc-nav-right {
    align-self: flex-end;
    height: 100%;
}

.pc-nav-link {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #222;

    & + & {
        margin-left: $pd-small;
    }

    &.router-link-active {
        color: #2aabd2;
    }
}
