@import "../shared/constants";

:host {
    display: block;
    height: 100%;
    background-color: rgb(230, 230, 231);
    padding: $pd-small + $nav-height $pd-large $pd-large;
}

.pc-card-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
}

.pc-card-wrapper-inner {
    max-width: $screen-lg;
}

.pc-card-container {
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 0 $pd-small;
    }
}
