@import "../../shared/constants";

:host {
    padding: $nav-height + $pd-small $pd-large $pd-large
}

.pc-homes-list {

}

.pc-home-item {
    cursor: pointer;

    &:hover {
        background-color: $pc-gray-light;
    }
}
